<form action="#/createVenue" method="post" id="formCreateVenue">
    <br>
    <h4>Venue name:</h4>
    <div><input type="text" name="name" placeholder="Input venue name e.g. Stadium of Light." required></div>
    <br>
    <h4>Location:</h4>
    <div><input type="text" name="location" placeholder="Input venue location here e.g. Burkina Faso, Ouagadougou." required></div>
    <br>
    <h4>Image:</h4>

    <div><input type="url" name="image" placeholder="Image must be with square aspect ratio." required></div>
    <br>
    <h4>Description:</h4>

    <div><textarea name="description" rows="5" placeholder="Input venue description here." required></textarea></div>
    <br>

    <div><input type="submit" id="buttonCreateVenue" class="get" value="Create Venue"></div>
</form>