<form action="#/createNewsAction" method="post" id="formCreateEvent">
    <br>

    <h4>Title:</h4>

    <div><input type="text" name="title" required></div>
    <br>

    <h4>Summary:</h4>

    <div><textarea type="text" name="summary" required></textarea></div>
    <br>

    <h4>Content:</h4>

    <div><textarea type="text" name="content" required></textarea></div>
    <br>

    <h4>Add name of the image file:</h4>

    <div><input type="text" name="image" required></div>
    <br>

    <div><input type="submit" id="buttonCreateNews" class="get" value="Create News"></div>
</form>