{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewEvents">
                    <h2><i class="fa fa-shopping-cart"></i> YOUR CART</h2>
                    <hr>

                    <div id="events">
                        <table>
                            <tr>
                                <th>View more</th>
                                <th>Event with</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th><i class="fa fa-ticket"></i></th>
                                <th><i class="fa fa-money"></i></th>
                                <th>Currency</th>
                                <th>Action</th>
                                {{#each eventsInCart}}
                                    {{>eventInCart}}
                                {{/each}}
                            </tr>
                        </table>
                        <a href="#/checkout" class="btn btn-success" id="checkout">Checkout</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}