<section id="viewCategoryTab">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#concerts" data-toggle="tab"><i
                    class="fa fa-music"></i>
                Concerts</a></li>
            <li><a href="#specialEvents" data-toggle="tab"><i class="fa fa-microphone"></i>
                Special Events</a></li>
            <li><a href="#theater" data-toggle="tab"><i class="fa fa-film"></i> Theater</a>
            </li>
            <li><a href="#sportEvents" data-toggle="tab"><i class="fa fa-male"></i> Sport
                Events</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <!--Concerts-tab-->
        <div class="tab-pane fade active in" id="concerts">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/con1.jpg"/>

                            <h2>22 lv.</h2>

                            <p>Georgi Hristov</p>

                            <p><strong>Concert</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/con2.jpg"/>

                            <h2>150 lv.</h2>

                            <p>Lili Ivanova</p>

                            <p><strong>Concert</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/con3.jpg"/>

                            <h2>23 lv.</h2>

                            <p>Fondaciayata</p>

                            <p><strong>Concert</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/con4.jpg"/>

                            <h2>120 euro</h2>

                            <p>DJ Tiesto</p>

                            <p><strong>Concert</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/Concerts-tab-->

        <!--Special Events-tab-->
        <div class="tab-pane fade" id="specialEvents">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/se1.jpg"/>

                            <h2>$15.000</h2>

                            <p>Donald Trump</p>

                            <p><strong>Press Conference</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/se2.jpg"/>

                            <h2>2500 lv.</h2>

                            <p>Boiko Borisov</p>

                            <p><strong>Press Conference</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/se3.jpg"/>

                            <h2>15 lv.</h2>

                            <p>Stoyanka Mutafova</p>

                            <p><strong>Press Conference</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/se4.jpg"/>

                            <h2>25 lv.</h2>

                            <p>Marius Kurkinski</p>

                            <p><strong>Press Conference</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/Special Events-tab-->

        <!--Theater-tab-->
        <div class="tab-pane fade" id="theater">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/th1.jpg"/>

                            <h2>16 lv.</h2>

                            <p>My wife's name is Boris</p>

                            <p><strong>Theater Play</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/th2.jpg"/>

                            <h2>16 lv.</h2>

                            <p>When the cat is gone</p>

                            <p><strong>Theater Play</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/th3.jpg"/>

                            <h2>16 lv.</h2>

                            <p>Kamen Donev</p>

                            <p><strong>Theater Play</strong></p><br>


                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/th4.jpg"/>

                            <h2>16 lv.</h2>

                            <p>The Queen's Play</p>

                            <p><strong>Theater Play</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/Theater-tab-->

        <!--Sport Events-tab-->
        <div class="tab-pane fade" id="sportEvents">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/spoe1.jpg"/>

                            <h2>$7500</h2>

                            <p>L. Messi</p>

                            <p><strong>Performance</strong></p><br>
                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/spoe2.jpg"/>

                            <h2>$7500</h2>

                            <p>C. Ronaldo</p>

                            <p><strong>Performance</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/spoe3.jpg"/>

                            <h2>200 lv.</h2>

                            <p>L. Penev</p>

                            <p><strong>Performance</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/spoe4.jpg"/>

                            <h2>2 lv.</h2>

                            <p>G. Bacov</p>

                            <p><strong>Performance</strong></p><br>

                            <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                                    class="fa fa-info"></i> MORE
                                INFO + <i class="fa fa-shopping-cart"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/Sport Events-tab-->
    </div>
</section>