<div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Concerts<span
                    class="badge pull-right"><i class="fa fa-music"></i></span></h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Special Events<span
                    class="badge pull-right"><i class="fa fa-microphone"></i></span>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Theater<span
                    class="badge pull-right"><i class="fa fa-male"></i></span></h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Sport Events<span
                    class="badge pull-right"><i class="fa fa-male"></i></span></h4>
        </div>
    </div>
</div>