<div class="panel-group category-products" id="accordian">
    <h2>Search by date</h2>
    <select onChange="window.location.href=this.value">
        <option>Choice options</option>
        <option value="#/september2017">September, 2017</option>
        <option value="#/october2017">October, 2017</option>
        <option value="#/november2017">November, 2017</option>
        <option value="#/december2017">December, 2017</option>
        <option value="#/january2018">January, 2018</option>
        <option value="#/february2018">February, 2018</option>
        <option value="#/march2018">March, 2018</option>
        <option value="#/april2018">April, 2018</option>
        <option value="#/may2018">May, 2018</option>
        <option value="#/jun2018">Jun, 2018</option>
        <option value="#/july2018">July, 2018</option>
        <option value="#/august2018">August, 2018</option>
        <option value="#/september2018">September, 2018</option>
        <option value="#/october2018">October, 2018</option>
        <option value="#/november2018">November, 2018</option>
        <option value="#/december2018">December, 2018</option>
    </select>
</div>