<section id="viewFeaturedEvents">
    <h2 class="title text-center">Events Near You</h2>

    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="images/event1.jpg"/>

                    <h2>25 lv.</h2>

                    <p>Vasko Vasilev</p><br>
                    <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                            class="fa fa-info"></i>
                        MORE
                        INFO + <i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="images/event2.jpg"/>

                    <h2>16 lv.</h2>

                    <p>The Queen Play</p><br>
                    <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                            class="fa fa-info"></i>
                        MORE
                        INFO + <i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="images/event3.jpg"/>

                    <h2>20 lv.</h2>

                    <p>Vasil Naidenov</p><br>
                    <a href="#" class="btn btn-default add-to-cart homeRedirect"><i
                            class="fa fa-info"></i>
                        MORE
                        INFO + <i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>