<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>Soft</span>Uni</h2>

                        <p>Team "Pomelo"</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="https://www.facebook.com/profile.php?id=100017917985267" target="_blank">
                                <div class="iframe-img">
                                    <img src="images/dm.jpg"/>
                                </div>
                            </a>

                            <h2>Daniel Mihaylov</h2>

                            <p>JS + App Functionality</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="https://www.facebook.com/ivo.baramov" target="_blank">
                                <div class="iframe-img">
                                    <img src="images/ib.jpg"/>
                                </div>
                            </a>

                            <h2>Ivo Baramov</h2>

                            <p>JS + App Functionality</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="https://www.facebook.com/aleksandarvpavlov" target="_blank">
                                <div class="iframe-img">
                                    <img src="images/ap.jpg"/>
                                </div>
                            </a>

                            <h2>Alexander Pavlov</h2>

                            <p>JS + App Functionality</p>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="https://www.facebook.com/alex.alexi1" target="_blank">
                                <div class="iframe-img">
                                    <img src="images/al.jpg"/>
                                </div>
                            </a>

                            <h2>Alexander Leykov</h2>

                            <p>HTML/CSS + Kinvey Backend</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="video-gallery text-center">
                        <a href="https://www.facebook.com/StoyanTodorovbg" target="_blank">
                            <div class="iframe-img">
                                <img src="images/stt.jpg"/>
                            </div>
                        </a>

                        <h2>Stoyan Todorov</h2>

                        <p>JS + App Functionality</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-bottom" class="footer-bottom navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">&copy; 2017 SoftUni Team "Pomelo" | <a
                        href="https://trello.com/b/dfRKkNc8/onlineticketstore" target="_blank">Trello</a> | <a
                        href="https://github.com/danielmihaylov/OnlineTicketStore" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
</footer>