<div class="brands_products">
    <h2>Locations</h2>

    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><span class="pull-right"><img
                    src="images/Bulgaria.png"></span>Bulgaria
            </li>
            <li><span class="pull-right"><img
                    src="images/UK.png"></span>Great Britain
            </li>
            <li><span class="pull-right"><img
                    src="images/Germany.png"></span>Germany
            </li>
            <li><span class="pull-right"><img
                    src="images/Russia.png"></span>Russia
            </li>
            <li><span class="pull-right"><img
                    src="images/Spain.png"></span>Spain
            </li>
            <li><span class="pull-right"><img
                    src="images/China.png"></span>China
            </li>
            <li><span class="pull-right"><img
                    src="images/USA.png"></span>USA
            </li>
        </ul>
    </div>
    <a href="https://softuni.bg/" target="_blank"><img id="img-banner" src="images/map.png" align="center"/></a>
</div>