<div class="brands_products">
    <h2>Locations</h2>

    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><span class="pull-right"><img
                    src="images/Bulgaria.png"></span><a href="#/bulgaria">Bulgaria</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/UK.png"></span><a href="#/uk">Great Britain</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/Germany.png"></span><a href="#/germany">Germany</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/Russia.png"></span><a href="#/russia">Russia</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/Spain.png"></span><a href="#/spain">Spain</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/China.png"></span><a href="#/china">China</a>
            </li>
            <li><span class="pull-right"><img
                    src="images/USA.png"></span><a href="#/usa">USA</a>
            </li>
        </ul>
    </div>
</div>