<div class="brands_products">
    <h2>Locations</h2>

    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><span class="pull-right"><img
                    src="images/Bulgaria.png"></span><a href="#/bulgaria">Bulgaria
            </li>
            <li><span class="pull-right"><img
                    src="images/UK.png"></span><a href="#/uk">Great Britain
            </li>
            <li><span class="pull-right"><img
                    src="images/Germany.png"></span><a href="#/germany">Germany
            </li>
            <li><span class="pull-right"><img
                    src="images/Russia.png"></span><a href="#/russia">Russia
            </li>
            <li><span class="pull-right"><img
                    src="images/Spain.png"></span><a href="#/spain">Spain
            </li>
            <li><span class="pull-right"><img
                    src="images/China.png"></span><a href="#/china">China
            </li>
            <li><span class="pull-right"><img
                    src="images/USA.png"></span><a href="#/usa">USA
            </li>
        </ul>
    </div>
    <a href="https://softuni.bg/" target="_blank"><img id="img-banner" src="images/map.png" align="center"/></a>
</div>