<div class="brands_products">
    <div class="panel-group category-products" id="accordian">
        <h2>Search by price</h2>
        <select onChange="window.location.href=this.value">
            <option>Choice options</option>
            <option value="#/symbolicPrices">Symbolic prices</option>
            <option value="#/lowPrices">Low prices</option>
            <option value="#/normalPrices">Normal prices</option>
            <option value="#/highPrices">High prices</option>
            <option value="#/luxuryPrices">Luxury prices</option>
        </select>
    </div>
    <a href="https://softuni.bg/" target="_blank"><img id="img-banner" src="images/map.png" align="center"/></a>
</div>