<div class="brands_products">
    <div class="panel-group category-products" id="accordian">
        <h2>Search by price</h2>
        <select onChange="window.location.href=this.value">
            <option>Choice options</option>
            <option value="#/symbolicPrices">0-1 €</option>
            <option value="#/lowPrices">1-100 €</option>
            <option value="#/normalPrices">101-1000 €</option>
            <option value="#/highPrices">1001-10000 €</option>
            <option value="#/luxuryPrices">10001-100000 €</option>
        </select>
    </div>
    <a href="https://softuni.bg/" target="_blank"><img id="img-banner" src="images/map.png" align="center"/></a>
</div>