<section id="viewSlider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Lili</span> Ivanova</h1>

                                <h2>Berlin, Germany</h2>
                                <hr>

                                <p>Concert of the special Bulgarian diva Lili Ivanova on 3rd of November
                                    2017 in Berlin, Germany – TEMPODROM, Möckernstraße 10, 10963. Special
                                    guests: BG
                                    chalga stars.</p>

                                <p><strong>Price:</strong> 190 Euro (with VAT)</p>
                                <a href="#/eventDetails/:59b62de5829a575104acc7cd" class="btn btn-default get homeRedirect">Learn
                                    More + <i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/lili.jpg" class="hero img-responsive"/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Svetlin</span> Nakov</h1>

                                <h2>Amsterdam, Holland</h2>
                                <hr>

                                <p>The influence of the beer on programmer's mind. How much beer to drink to
                                    code
                                    better? Press-conference on 31st of December 2017 at
                                    23:59. Special guest: dyado Mraz.</p>

                                <p><strong>Price:</strong> 2Ƀ (Bitcoin)</p>

                                <a href="#/eventDetails/:59b79875829a575104b46ed0" class="btn btn-default get homeRedirect">Learn
                                    More + <i class="fa fa-shopping-cart"></i></a>

                            </div>
                            <div class="col-sm-6">
                                <img src="images/nakov.jpg" class="hero img-responsive"/>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Hristo</span> Stoichkov</h1>

                                <h2>Sofia, Bulgaria</h2>
                                <hr>

                                <p>Barcelona all stars VS Bulgarian 1994 team. The event will take place in
                                    Sofia,
                                    Bulgaria on 1st of October 2017 at 19:00. Special guests: H. Stoichkov,
                                    Messi,
                                    Ronaldo, Team "Pomelo", etc.</p>

                                <p><strong>Price:</strong> 250 lv. (with VAT)</p>
                                <a href="#/eventDetails/:599465a93c52ae646fbcc4a3" class="btn btn-default get homeRedirect">Learn
                                    More + <i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/stoichkov.jpg" class="hero img-responsive"/>
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>