{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewCreate">
                    <h2><i class="fa fa-plus"></i> ADD NEW EVENT</h2>
                    {{>createEventForm}}
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}