<form action="#/myAccountEdit" method="post" id="formLogin">
    <label>Username: </label>
    <input type="text" name="username" value="{{username}}" id="accountUsername"/>

    <label>First name: </label>
    <input type="text" name="firstName" value="{{firstName}}"/>

    <label>Last name: </label>
    <input type="text" name="lastName" value="{{lastName}}"/>

    <label>Email: </label>
    <input type="text" name="email" value="{{email}}"/>

    <input type="submit" id="buttonEditMyAccount" value="Save Changes"/>
</form>