{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewLogin" class="myAccount-form">
                    <h2><i class="fa fa-info-circle"></i> Edit your account, {{firstName}}:</h2>
                    {{>myAccountEditForm}}
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}