<form action="#/myAccountEdit" method="get" id="formLogin">
    <label>Username: </label>
    <input type="text" name="username" value="{{username}}" id="accountUsername" disabled/>

    <label>First name: </label>
    <input type="text" name="firstName" value="{{firstName}}" disabled/>

    <label>Last name: </label>
    <input type="text" name="lastName" value="{{lastName}}" disabled/>

    <label>Email: </label>
    <input type="text" name="email" value="{{email}}" disabled/>

    <input type="submit" id="buttonEditMyAccount" value="Edit Profile"/>
    <a href="#/resetPass" class="btn btn-default">Reset password</a>
</form>