{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewMyAccount">
                    <h2><i class="fa fa-info"></i> MY ACCOUNT</h2>
                    <hr>
                    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s30a9b12a72c46b90/image/i71e3827874c88424/version/1399896870/image.png">
                <!--Not working-->
                    {{username}}
                    {{email}}
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}
