{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewEdit">
                    <h2><i class="fa fa-cog"></i> EDIT EVENT</h2>
                    <br>

                    <p style="color: red">* To edit an existing event, first go to the Events tab and choose the
                        [Edit] option</p>

                    {{>eventEditForm}}
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}

