<form action="#/login" method="post" id="formLogin">
    <input type="text" name="username" placeholder="Username" required/>
    <input type="password" name="passwd" placeholder="Password" required/>
    <input type="submit" id="buttonLoginUser" value="Login"/>
</form>
