<form action="#/register" method="post" id="formRegister">
    <input type="text" name="firstName" placeholder="First Name" required/>
    <input type="text" name="lastName" placeholder="Last Name" required/>
    <input type="email" name="email" placeholder="E-Mail" required/>
    <input type="text" name="username" placeholder="Username" required/>
    <input type="password" name="passwd" placeholder="Password" required/>
    <input type="submit" id="buttonRegisterUser" value="Register"/>
</form>