{{>header}}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="viewRegister" class="signup-form">
                    <h2><i class="fa fa-user"></i> New User Registration:</h2>
                    {{>registerForm}}
                </section>
            </div>
        </div>
    </div>
</section>
{{>footer}}