<br><br><br>
<footer id="footer">
    <div id="footer-bottom" class="footer-bottom navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">&copy; 2017 SoftUni Team "Pomelo" | <a
                        href="https://trello.com/b/dfRKkNc8/onlineticketstore" target="_blank">Trello</a> | <a
                        href="https://github.com/danielmihaylov/OnlineTicketStore" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
</footer>