{{>header}}
{{#if thereIsEventsOfTheSamePrice}}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <section id="viewEvents">
                        <h2><i class="fa fa-star"></i> EVENTS LIST</h2>
                        <hr>

                        <div id="events">
                            <table>
                                <tr>
                                    <th>View more</th>
                                    <th>Event with</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                                {{#each events}}
                                    {{>event}}
                                {{/each}}
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{{else}}
    <h2>Sorry, there isn't any events for this category of prices</h2>

{{/if}}

{{>footer}}